:root {
  --primary-color: #1c1c1c;
  --secondary-color: #fdf7f0;
  --text-color: #1c1c1c;
  --background-color: #f9f9f9;
}

main {
  font-family: 'Inter', sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 16px;
}

p{
    font-size: 16px;
}

.m1{
    margin: 1rem;
}

.m1-5{
    margin: 1.5rem;
}

.m2{
    margin: 2rem;
}

.m3{
    margin: 3rem;
}

.p1{
    margin: 1rem;
}

.p1-5{
    margin: 1.5rem;
}

.p2{
    margin: 2rem;
}

.p3{
    margin: 3rem;
}